# Arquivos de ambiente
.env
go.work

# IDE e arquivos temporários
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Saída de build/binários
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
dist/
vendor/

# Pasta de dados do PostgreSQL (evita erro de permissão)
postgres/data/
